.container
  .row
    .col-lg-12
      = simple_form_for restaurant do |f|
        = f.input :name
        = f.input :description
        = f.input :phone
        = f.input :address
        = f.file_field :logo
        = f.button :submit
        = link_to 'Destroy',  restaurant,  method: :delete, data: { confirm: 'Are you sure?' }
